.category {
  padding: .5rem;

  &-heading {
    text-align: center;
    position: fixed;
    z-index: 99;
    width: 100%;
    background-color: #fff;
    height: 10rem;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    p {
      margin: 0 0 .5rem 0;
    }
  }

  h1 {
    font-weight: normal;
    text-transform: uppercase;
  }

  .items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    grid-gap: .5rem;
    margin-top: 5.5rem;
  }

  .item {
    color: $light;
    position: relative;
    z-index: 1;
    height: 0;
    padding-top: 75%;
    overflow: hidden;

    @media screen and (min-width: 451px) {
      padding-top: 100%;
    }

    &::before {
      content: "";
      position: absolute;
      top: -2%;
      left: 0;
      width: 100%;
      height: 102%;
      z-index: -1;
      background-size: cover;
      background-position: center;
      transition: .3s
    }

    &:hover {
      cursor: pointer;

      &::before {
        transform: translate(0px, .5rem);
      }

      small {
        opacity: 1;
      }
    }

    a, a:hover {
      color: $light;
    }

    small {
      position: absolute;
      top: 40%;
      width: 100%;
      display: block;
      text-align: center;
      font-size: 1.1rem;
      padding: .5rem 10%;
      opacity: 0;
      transition: .3s;
      line-height: 1.5rem;
      text-shadow: 0 0 10px rgba(0,0,0, .7);
    }

    &-1::before {
      background-image: url("../images/tunnel_view.jpg");
    }
    &-2::before {
      background-image: url("../images/02_bg.jpg");
    }
    &-3::before {
      background-image: url("../images/03_bg.jpg");
    }
    &-4::before {
      background-image: url("../images/04_bg.jpg");
    }
    &-5::before {
      background-image: url("../images/05_bg.jpg");
    }
    &-6::before {
      background-image: url("../images/06_bg.jpg");
    }
  }
}
