@import "colors";

.category {
  padding: .5rem;

  &-heading {
    text-align: center;
    position: fixed;
    z-index: 99;
    width: 100%;
    background-color: #fff;
    height: 10rem;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    p {
      margin: 0 0 .5rem 0;
    }
  }

  h1 {
    font-weight: normal;
    text-transform: uppercase;
  }

  .items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    grid-gap: .5rem;
    margin-top: 10.5rem;
  }

  .item {
    color: $light;
    position: relative;
    z-index: 1;
    height: 15rem;
    overflow: hidden;
    display: block;

    @media screen and (min-width: 451px) {
      padding-top: 100%;
    }

    img {
      position: absolute;
      top: 48%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 104%;
      z-index: -1;
      background-size: cover;
      background-position: center;
      transition: .3s
    }

    &:hover {
      cursor: pointer;

      img {
        top: 50%;
      }

      small {
        opacity: 1;
      }
    }

    a, a:hover {
      color: $light;
    }

    small {
      position: absolute;
      top: 40%;
      width: 100%;
      display: block;
      text-align: center;
      font-size: 1.1rem;
      padding: .5rem 10%;
      opacity: 0;
      transition: .3s;
      line-height: 1.5rem;
      text-shadow: 0 0 10px rgba(0,0,0, .7);
    }
  }
}
