body {
  color: $dark;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-top: 4rem;
  margin-bottom: .5rem;
  @media screen and (max-width: 500px) {
    margin-top: 3rem;
  }
}