.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba($white, .8);
  z-index: 9999;
  display: flex;
  justify-content: space-around;

  &-content {
    position: relative;
    background-color: $white;
    width: 80%;
    height: 95%;
    z-index: 99999;
    border: solid 1px $dark;
    align-self: center;
    border-radius: 3px;
    background-image: url("../images/tunnel_view.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &-nav {
    align-self: center;
    font-size: 5rem;
    color: $dark;
  }

  &-info {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    color: $dark;
    font-size: 1.8rem;
  }

  &-close {
    position: absolute;
    top: 1rem;
    color: $dark;
    font-size: 2.5rem;
    font-weight: bold;
  }

  .meta-data {
    background-color: rgba($white, .75);
    width: 50%;
    border: solid 1px $dark;
    padding: 1rem 1.8rem;
    min-height: 50%;
    max-height: 70%;
    border-radius: 3px;
    align-self: center;
    overflow: scroll;
    position: relative;

    h2 {
      text-transform: uppercase;
      margin: 0 0 .3rem 0;
    }

    table {
      margin-top: .5rem;
      width: 100%;
      font-size: .9rem;
    }

    th, td {
      border: solid 1px $dark;
      padding: .5rem;
    }

    th {
      text-align: right;
    }

    &-close {
      position: absolute;
      top: 1rem;
      right: 1rem;
      font-size: 1.5rem;
    }
  }
}
