.portfolio {
  padding: 0 .5rem;

  h1 {
    text-align: center;
    text-transform: uppercase;
    color: #d0e2ed;
    border: solid 1px;
    height: 3rem;
    background-color: #93979b;
    margin: 2.5rem 0 .5rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .items {
    display: grid;
    grid-template-columns: 1fr;

    @media screen and (max-width: 1119px) and (min-width: 451px) {
      grid-template-columns: 1fr 1fr;
    }
    @media screen and (min-width: 1120px){
      grid-template-columns: 1fr 1fr 1fr;
    }

    grid-gap: .5rem;
  }

  .item {
    color: $light;
    position: relative;
    z-index: 1;
    height: 25rem;
    overflow: hidden;
    display: block;

    @media screen and (min-width: 451px) {
      padding-top: 100%;
    }

    img {
      content: "";
      position: absolute;
      top: 48%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 104%;
      z-index: -1;
      background-size: cover;
      background-position: center;
      transition: .3s
    }

    &:hover {
      cursor: pointer;

      h2 {
        font-size: 1.8rem;
      }

      img {
        top: 50%;
      }

      small {
        opacity: 1;
      }
    }

    h2 {
      position: absolute;
      text-transform: uppercase;
      text-align: center;
      width: 100%;
      top: 10%;
      letter-spacing: .2rem;
      transition: .3s;
      font-weight: normal;
    }

    small {
      position: absolute;
      top: 40%;
      width: 100%;
      display: block;
      text-align: center;
      font-size: 1.1rem;
      padding: .5rem 10%;
      opacity: 0;
      transition: .3s;
      line-height: 1.5rem;
    }

    h2, small {
      text-shadow: 0 0 10px rgba(0,0,0, .7);
    }
  }
}
